<ion-view view-title="Outh" ng-controller="AuthentificationCtrl">
    <div class="warpper-auth">

      <div class="content-auth">
        <ion-content class="authentication-body" scroll="false">
          <div class="authentification-form-container">
            <div class="authentication-form">


              <div class="padding">

                  <button class="button button-block button-positive" ng-click="fbLogin()">
                    Login with Facebook
                  </button>


              </div>
            </div>

          </div>
        </ion-content>


      </div>
    </div>
  </ion-view>
